 @media (max-width: 1550px) {
  .about__wrapper {
    --offsets: 0;
  }
  .about__text-wrapper{
    max-width: 454px;
  }
  .questions__list{
    --offset:0
  }
  .footer__text-block {
   display: none; 
  }

 }

 @media (max-width: 1200px) {
  .nav__list{
    gap: 40px;
  } 
  .stages__content {
    column-gap: 50px;
  }
  .header__logo {
    width: 150px;
  }
  .container{
    padding: 0 50px;
  }

  .header__container{
    padding: 26px 50px;
  }

  .hero__title{
    font-size: 60px;
  }
  .hero__content {
    background-image: url('../img/hero-second.png');
  }
  .hero__btn {
    padding: 25px 35px;
  }

  .footer{
    padding: 50px 0;;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    width: 110px;
  }
  .header__link{
    font-size: 16px;
    font-weight: 700px;
  }
  .header__container{
    padding: 17px 50px;
  }
  .header__search{
    margin-left: 43px;
  }
  .hero__content{
    padding: 160px 40px;
  }

  .hero__title{
    font-size: 50px;
    margin-bottom: 16px;
    
  }
  .hero__text{
    font-size: 18px;
    margin-bottom: 60px;
  }
  .hero__btn {
    padding: 25px 39px;
  }  

  .about__block-btn{
    padding: 34px 40px;
  }
  .about__text-wrapper{
    margin-right: 47px;
  }
  .about__btn{
    padding: 19px 38px;
  } 
  .about__wrapper-block{
    padding: 35px 46px 35px 170px;
    min-height: 0;
  }
  .first-circle{
    width: 72px;
    top: 95px;
    left: 40px;
  }
  .box{
    width: 72px;
    top: 68px;
    left: 82px;
  }
  .second-circles{
    width: 77px;
    top: 99px;
    left: 42px;
  }
  .settings{
    width: 81px;
    top: 77px;
    left: 75px;
  }



  .stages__content{
    flex-direction: column-reverse;
  }

  .stages__img {
    max-width: 100%;
    height: 284px;
    margin-bottom: 38px;
}

  .question__item{
      padding: 35px 65px 35px 40px;
  }
  .questions{
    margin-bottom: 80px;
  }

  .footer__container{
    flex-direction: column-reverse;
  }
  .footer__form-block{
    margin-left: 0;
    margin-bottom: 50px;
  }
  .nav__list-footer{
    display: none;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 0 15px;
  }
  .header__container{
    flex-direction: column;
     
    margin-bottom: 20px;
  } 
  .header__search{
    position: absolute;
    top: 22px;
    right: 15px;
  }
  .header__logo{
    margin-right: auto;
    margin-bottom: 20px;
  }

  .header__nav {
    margin-left: 0;
    width: 100%;
  }
  .header__container {
    padding: 17px 15px 40px 15px; 
}
  .nav__list{
    width: 100%;
    gap: 24px;
    justify-content: space-between;
  }

  .hero__content{
    text-align: center;
  }
}

@media (max-width: 576px){
  .hero__content{
    text-align: center;
    padding: 60px 22px;
    background-image: url(../img/hero-small.png);
 
  }
  .title{
    color: #000; 
  font-size: 24px; 
  font-weight: 400;
  line-height: normal;
  }
  .text{
    font-size: 14px;
  }
  .hero__title{
    font-size: 20px;
  }
  .hero__text{
    font-size: 12px;
    
  }
  .hero__btn{
    font-size: 12px;
    padding: 18px 37px;
  }
  .hero {
    margin-bottom: 60px;
  }
  
  .about__title{
    font-size: 24px;
  }
  .about__text {
    margin-bottom: 14px; 
  }
  .about__wrapper-btn{
    background-image: url(../img/about-small.png);
    min-height: 0;
    width: 100%;
    height: 200px;
    margin-bottom: 298px;
    position: relative;
  }
  .about__block-btn{
    position: absolute;
    top: 208px;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 0; 
    background: #FFF;
    border-radius: 32px;
    width: 100%;
    margin-bottom: 32px; 
  }
  .about__text-wrapper{
    color: #000;
    margin: 0;
    margin-bottom: 12px; 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
  }
  .about__wrapper{
    gap: 0;
  }
  .about__btn{
    padding: 12px 44px;
    color: #F90;
    text-align: center; 
    font-size: 12px; 
    font-weight: 700;
    line-height: normal;
     
  }
  .about__wrapper-block{
    padding: 0;
    border: none;

  }
  .about__wrapper-text{
  }

  .about__title-block{
    color: #000; 
    font-size: 18px; 
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
  }
  .about__block-text{
    color: #000; 
    font-size: 14px; 
    font-weight: 400;
    line-height: 28px; /* 200% */
  }
  .about__wrapper_mobile{
    padding-top: 61px;
  }
  .first-circle{
    top: -55px;
    left: 0;
    width: 43px;
  }
  .box{
    top: -61px;
    left: 21px;
    width: 43px;
  }
  .settings{
    top: 0px;
    left: 21px;
    width: 43px;
  }
  .second-circles{
    top: 0px;
    left: 0px;
    width: 43px;
  }
  .about{
    margin-bottom: 60px;
  }
  .stages__title{
    margin-bottom: 20px;
  }
  .stages__img{
    max-height: 160px;
    margin-bottom: 16px;
  }
  .about__title{
    color: #000; 
    font-size: 18px; 
    font-weight: 500;
    line-height: 32px; /* 177.778% */
  } 

  .stages__btn{
    padding: 12px 44px;
    color: #FFF; 
    font-size: 12px; 
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
  }
  .white-btn{
    color: #000; 
    font-size: 12px; 
    font-weight: 400;
    line-height: normal;
    padding: 12px 32px;
  }
  .stages{
    margin-bottom: 60px;
  }
  .questions__title{
    margin-bottom: 20px;
  }
  .question__item{
    border: none;
    padding: 0;
  }
  .questions__item-title{
    color: #000; 
    font-size: 18px; 
    font-weight: 500;
    line-height: normal;
  }
  .questions__text{
    color: #000; 
    font-size: 14px; 
    font-weight: 400;
    line-height: 28px; /* 200% */
  }
  .questions {
    margin-bottom: 60px;
  }
  .footer {
    padding: 30px 0;
    width: 100%;
  }
 .footer__form-title{
  color: #CACACA; 
  font-size: 24px; 
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
 }
  .footer-input{
    padding: 14px 14px;
    color: #CACACA; 
    font-size: 14px; 
    font-weight: 400;
    line-height: 32px; /* 228.571% */
    width: 100%;
    }
  .footer__container{
    align-items: center;
  }
  .footer__btn{
    margin-bottom: 11px;
  }
  .footer__icon-block{ 
    justify-content: center;
  }
  .footer__agree{
    position: absolute;
    left: 0;
    top: 76px;
  }
  .block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__agree-text{
    text-align: center;
    margin-left: 20px;
  } 
  .footer__form-block{
    margin-bottom: 25px;
  }
  .footer__logo{
    width: 131px;
  height: 42px;
  }
  .icon-link svg{
    width: 40px;
    height: 40px;
  }
  .footer__icon-ok{
    margin-right: 16px;
  }
  .footer__nav-block{
    padding-top: 16px;
    border-top: 1px solid #414141;;
    width: 100%;
    text-align: center;
  }
 
}